<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ABX_Database.Properties.Settings.abx_furnitureConnectionString"
            connectionString="Data Source=DESKTOP-2ORO7LR\SQLEXPRESS;Initial Catalog=abx_furniture;Persist Security Info=True;User ID=tithirayw;Password=Tithira@123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>